@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-backgroundSecondary: var(--background-secondary);
  --color-foregroundSecondary: var(--foreground-secondary);
  --color-outline: var(--outline);
  --color-cherry: var(--cherry);
  --color-errorBackground: var(--error-background);
  --color-errorForeground: var(--error-foreground);
  --color-errorOutline: var(--error-outline);
  --color-infoBackground: var(--info-background);
  --color-infoForeground: var(--info-foreground);
  --color-infoOutline: var(--info-outline);
  --color-tableHeader: var(--table-header);

  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --background-secondary: #fafafb;
  --foreground-secondary: #555555;
  --outline: #e9e9ec;
  --cherry: #cc2936;

  --error-background: #fef5f4;
  --error-foreground: #b43428;
  --error-outline: #f8e3e1;

  --info-background: #ebf4fb;
  --info-foreground: #5caef1;
  --info-outline: #c1e3fe;

  --table-header: #f5f5f5;
}

.dark {
  --background: #0a0a0a;
  --foreground: #d4d4d4;
  --background-secondary: #111114;
  --foreground-secondary: #aaaaaa;
  --outline: #25272a;
  --cherry: #cc2936;

  --error-background: #fef5f4;
  --error-foreground: #b43428;
  --error-outline: #f8e3e1;

  --info-background: #ebf4fb;
  --info-foreground: #1061a3;
  --info-outline: #c1e3fe;

  --table-header: #262626;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-bold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply text-3xl font-semibold tracking-tight;
  }
  h3 {
    @apply text-2xl font-medium tracking-tight;
  }
  p {
    @apply text-lg leading-relaxed text-foreground;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 0;
}

/* Заголовки */
.tt-heading {
  margin:0 0 16px 0;
}

/* Параграфы */
.tt-paragraph {
  margin-bottom: 16px;
  color: var(--foreground-secondary);
}

.tt-paragraph-list-item p {
  margin: 0;
  color: var(--foreground-secondary);
}

/* Маркированный список */
.tt-bulletlist {
  list-style-type: disc;
  padding-left: 24px;
}

.tt-bulletlist li {
  margin-left: 16px;
}

/* Нумерованный список */
.tt-orderedlist {
  list-style-type: decimal;
  padding-left: 24px;
}

/* Блок кода */
.tt-codeblock {
  white-space: pre;
  overflow-x: auto;
  margin-bottom: 16px;
  position: relative;
  border-radius: 12px;
}

.tt-orderedlist li {
  margin-left: 16px;
}

.shiki {
  counter-reset: step;
  counter-increment: step 0;
  .line {
    &::before {
      counter-increment: step;
      @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-600 content-[counter(step)];
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
